<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1>About</h1>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                A junior in Computer Science Engineering at Amrita University, Amritapuri; creative thinker; human centered problem solver; an active open source contributor; strong algorithm.    
            </p>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                Currently, working as a UI/UX designer and front developer at <a href="https://makemeflow.org">Flow</a>.
            </p>
        </div>
    </div>
</section>